[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=MTGO

# A comment which can/will be used as a tooltip
Comment=Magic The Gathering Online

# The path to the folder in which the executable is run
Path=/home/hans

# The executable of the application, possibly with arguments.
Exec=winapps manual "C:\\Users\\MyWindowsUser\\Desktop\\Magic The Gathering Online .appref-ms"

# The name of the icon that will be used to display this entry
Icon=MTGO

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Games;